.p-dropdown-items-wrapper {
    min-height: 50px;
    max-height: 300px;
}
.p-dropdown-label {
    color: #303030;
}
.p-dropdown-item {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px !important;
}
/* Стили для Dropdown, когда значение не выбрано */
.p-inputwrapper-filled {
    background-color: #e9ecef; /* Серый цвет фона */
    color: #6c757d; /* Серый цвет текста */
}

/* Стили для линии (трека) ползунка */
.p-slider .p-slider-range {
    background-color: red; /* Красный цвет линии */
    height: 4px; /* Высота линии */
}

/* Стили для ползунка (thumb) */
.p-slider .p-slider-handle {
    width: 6px;
    height: 18px;
    background-color: red;
    border-radius: 0;
    border: 2px solid darkred;
    transform: translateY(-50%);
}

.p-slider .p-slider-handle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}

/* Стили для фона трека */
.p-slider {
    background-color: lightgray;
}
.p-galleria .p-galleria-item-nav {
    color: rgb(216, 216, 216);
}
.p-galleria .p-galleria-indicators {
    padding-top: 1rem !important
}
.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background-color: red;
}
.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator, .p-galleria.p-galleria-indicators-top .p-galleria-indicator {
    margin-right: 5px;
}
